 html {
     position: relative;
     min-height: 100%;
 }
 
 body {
     /* Margin bottom by footer height */
     margin-bottom: 60px;
 }
 
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     height: 85px;
     background-color: #f5f5f5;
 }
 /* Custom page CSS
-------------------------------------------------- */
 /* Not required for template or sticky footer method. */
 
 .container .text-muted {
     margin: 20px 0;
 }